name: CI Pipeline

on:
  push:
    branches: [Feature3]
  pull_request:
    branches: [main]

jobs:
  ci_python_tests:
    runs-on: ubuntu-latest
    name: Run Python Tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install -r default/requirements.txt
      - name: Run tests and generate reports
        run: |
          python -m pytest tests/ -v --tb=short --junitxml=reports/report.xml --html=reports/report.html --self-contained-html
      - name: Configure AWS credentials
        if: ${{ success() }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Upload reports to S3
        if: ${{ success() }}
        run: |
          aws s3 sync reports/ s3://ci-test-results-bucket/pytest-reports/${{ github.sha }}/
